// 营销活动
.goods-promotion {
	.countdown {
		width: 220rpx;
	}
}

.promotion-tag {
	color: #fff;
	font-size: $font-size-activity-tag;
	border-top-left-radius: 30rpx;
	border-bottom-left-radius: 30rpx;
	padding: 4rpx 10rpx;
	margin-right: 10rpx;
	vertical-align: middle;
}

.goods-detail-tab {
	.detail-tab {
		display: flex;
		justify-content: space-around;
	}
}
//社群
.detail-community {
	background: #fff;
	padding: 30rpx;
	margin-bottom: 20rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	.community-box {
		display: flex;
		align-items: center;
		
		image {
			width: 70rpx;
			height: 70rpx;
			border-radius: 10rpx;
			margin-right: 20rpx;
		}
		.community-title {
			font-family: PingFang-SC-Medium;
			font-size: 28rpx;
			// line-height: 36rpx;
			color: #303133;
		}
		.community-txt {
			font-family: PingFang-SC-Medium;
			font-size: 24rpx;
			color: #909399;
			width: 450rpx;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
	}
	.community-btn {
		width: 100rpx;
		height: 50rpx;
		line-height: 50rpx;
		background-color: #03bd04;
		border-radius: 10rpx;
		text-align: center;
		font-family: PingFang-SC-Medium;
		font-size: 24rpx;
		color: #ffffff;
	}
}

.community-model {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,.4);
	z-index: 9999;
	
	.community-model-content {
		width: 500rpx;
		height: 600rpx;
		background-color: #ffffff;
		border-radius: 10rpx;
		margin:35% auto 0;
		position: relative;
		overflow: hidden;
		
		.community-model-content-radius {
			width: 600rpx;
			height: 240rpx;
			border-radius: 100%;
			background: $base-color;
			position: absolute;
			left: -50rpx;
			top: -60rpx;
			
			view {
				margin-top: 120rpx;
				text-align: center;
				font-family: PingFang-SC-Bold;
				font-size: 30rpx;
				color: #ffffff;
			}
		}
		
		.community-model-content-draw {
			width: 260rpx;
			height: 260rpx;
			margin:214rpx auto 0;
			
			image {
				width: 100%;
				height: 100%;
			}
		}
		.community-model-content-text {
			font-family: PingFang-SC-Medium;
			font-size: 24rpx;
			color: #909399;
			text-align: center;
			margin-top: 20rpx;
		}
	}
	.community-model-close {
		width: 56rpx;
		height: 56rpx;
		border: 1px solid #fff;
		border-radius: 50%;
		margin:50rpx auto 0;
		text-align: center;
		color: #fff;
	}
}
